CORS_ALLOW_ORIGINS=
CORS_ALLOW_CREDENTIALs=
CORS_ALLOW_METHOD=
CORS_ALLOW_HEADERS=

GS_DATABASE_USER=onboarding
GS_DATABASE_PASSWORD=onboarding
GS_DATABASE_LOCATION=localhost
GS_DATABASE_PORT=5433
GS_DATABASE_NAME=sw_onboarding
